name: CI
on: [push]
jobs:
    run-tests:
        name: Julia ${{ matrix.version }} - ${{ matrix.os }} - ${{ matrix.arch }} - ${{ github.event_name }}
        runs-on: ${{ matrix.os }}
        strategy:
            fail-fast: false
            matrix:
              version:
                - '1.6.7'
                - '1'
              os:
                - ubuntu-latest
                - windows-latest
              arch:
                - x64
                - x86
              exclude:
                - os: ubuntu-latest
                  arch: x86
                - os: windows-latest
                  arch: x64

        steps:
            - uses: actions/checkout@v4
            - uses: julia-actions/setup-julia@v1
              with:
                    version: ${{ matrix.version }}
                    arch: ${{ matrix.arch }}
            - uses: julia-actions/julia-buildpkg@v1
            - run: ./build.sh
            

